{% extends 'intranet/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Servicios</h6>
                            <a class="text-secondary text-capitalize ps-3" href="{% url 'intranet_service_new' %}">Nuevo</a>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            {% if services %}
                                <table class="table align-items-center mb-0">
                                    <thead>

                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            ID
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Servicio
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Precio
                                        </th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for service in services %}
                                        <tr id="">
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ service.id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="text-secondary text-xs font-weight-bold">{{ service.name }}</span>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ service.price }}</span>
                                            </td>
                                            <td class="align-middle">
                                                <a href="{% url 'intranet_service' identifier=service.id %}" class="text-secondary font-weight-bold text-xs"
                                                   data-toggle="tooltip" data-original-title="Edit servicio">
                                                    Editar
                                                </a>
                                                |
                                                <a href="{% url 'intranet_service_delete' identifier=service.id %}" class="text-secondary font-weight-bold text-xs"
                                                   data-toggle="tooltip" data-original-title="Remove servicio">
                                                    Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="col-lg-12 col-md-10 mx-auto">
                                    <div class="card mt-4">
                                        <div class="alert alert-secondary alert-dismissible text-white"
                                             role="alert">
                                            <span class="text-sm">No hay reservas en el sistema.</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}