{% extends 'main_site/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0"
         style="background-image: url({% static 'main_site/img/carousel-bg-1.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Reservas</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Reservas</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-certificate fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Servicio de mediana Calidad</h5>
                            <p>Diam dolor diam ipsum sit amet diam et eos erat ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex bg-light py-5 px-4">
                        <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Trabajadores en practica</h5>
                            <p>Diam dolor diam ipsum sit amet diam et eos erat ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-tools fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Equipamiento del 1963</h5>
                            <p>Diam dolor diam ipsum sit amet diam et eos erat ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Booking Start -->
    <div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="text-white mb-4">No esta muy lindo</h1>
                        <p class="text-white mb-0">Pero funciona :D.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
                         data-wow-delay="0.6s">
                        <h1 class="text-white mb-4">Agenda un Servicio</h1>
                        <form method="POST">
                            {% csrf_token %}

                            <div class="row g-3">
                                <form type="POST">
                                    <div class="col-12 col-sm-6 w-100 py-3" style="height: 55px;">
                                        <div class="row g-3">
                                            {% for field in form %}
                                                <div class="col-12 col-sm-6">
                                                    {% if field.widget_type == 'text' or field.widget_type == 'password' or field.widget_type == 'number' or field.widget_type == 'email' %}
                                                        <input type="{{ field.widget_type }}"
                                                               id="{{ field.id_for_label }}"
                                                               name="{{ field.html_name }}"
                                                               class="form-control border-0"
                                                               style="height: 55px;"
                                                               placeholder="{{ field.html_name }}"/>
                                                        </div>
                                                    {% else %}
                                                        {{ field }}
                                                    {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-secondary w-100 py-3" type="submit">Agendar</button>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking End -->

{% endblock %}