{% extends "base.html" %}

{% block title %}Recupera tu contraseña{% endblock %}

{% block content %}
<section>
    <div class="container py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card" style="color: #4B515D; border-radius: 35px;">
            <div class="card-header text-center">Recuperacion de Contraseña</div>
            <div class="card-body p-4">

              <form id="forgot_form">

                <div class="form-outline mb-4">
                  <input type="email" id="email_input" name="email_input" class="form-control" required />
                  <label class="form-label" for="email_input">Correo Electronico</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Recuperar</button>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}